@media only screen and (max-width: 767px) {
    .zonacontac {
      margin-top: 40rem;
    }
  }

.zonacontac {
    background: #F7F7F7;
    height: 260px;
    font-family: Nunito;
}

.footern12 {
    width: 100vw;
}

.txtcontac {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    text-align: center;
}

.txtcontac h3 {
    font-weight: bold;
}

.btnscontac {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 3.5rem;
}

.btnscontac a {
    color: #FF3366;
}

.btnwhatsapp {
    margin-left: 3.5rem;
}

.zonainfo {
    height: 40vh;
}

.webn12 {
    margin-top: 20px;
    font-family: Nunito;
    color: #939191;
}

.n12est {
    margin-top: 20px;
    font-family: Nunito;
    color: #939191;
    text-align: end;
}

.Footertxt {
    margin-top: 30px;
    font-family: Nunito;
    color: #A2A2A2;
    text-align: center;
}

.LogoFooter {
    display: flex;
    justify-content: center;
}

.LogoFooter img{
    max-width: 220px;
    margin-bottom: 50px;
}

.btnscontac a:hover {
    color: #ff993d;
    transition: 0.6s;
}