@media only screen and (max-width: 767px) {
  .guia1 {
    height: 100vh;
  }

  .txtguia1 {
    margin-top: 6rem !important;
    margin-left: 0.7rem !important;
  }

  .txtguia2 {
    margin-top: 6rem !important;
    margin-left: 0.7rem !important;
  }

  .zondes1 {
    margin-left: auto !important;
    margin-right: auto !important;
}
}

#guias {
  width: 100vw;
  height: 100vh;
}

.guia1 {
  background: linear-gradient(45deg, #316AFF 0%, #06BFFF 100%);  
}

.guia2 {
  height: 600px;
  z-index: 50;
}

.txtguia1 {
  margin-top: 135px;
  margin-left: 60px;
  color: #fff;
  font-family: Nunito;
}

.txtguia1 h3 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 40px;
}

.txtguia1 p {
  font-size: 1.2rem;
}

.txtguia2 {
  margin-top: 135px;
  margin-left: 60px;
  font-family: Nunito;
}

.txtguia2 h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: #316BFC;
}

.txtguia2 p {
  font-size: 1.7rem;
  font-weight: 600;
}

.zondes1 {
  width: 80%;
  height: 40%;
  border: 3px solid #707070;
  margin-left: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.txtdes1 {
  display: flex;
}

.txtdes1 a {
  color: #000;
}

.icondow1 {
  font-size: 2rem;
  position: absolute;
  right: 12%;
}

.txtguia1 p:hover {
  color: #6c757d;
}

.txtguia1 p {
  color: #fff;
}

.txtguia1 a {
  text-decoration:none;
}