#guias {
  display: grid;
    grid-template-columns: 1fr 1fr;
}

#guia1 {
  background: linear-gradient(45deg, rgba(48,107,255,1) 0%, rgba(7,188,255,1) 100%);  
}

.txtguia1 {
  margin-top: 135px;
  margin-left: 60px;
  color: #fff;
  font-family: Quicksand;
}

.txtguia1 h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 40px;
}

.txtguia1 p {
  font-size: 1.2rem;
}

.txtguia2 {
  margin-top: 135px;
  margin-left: 60px;
  font-family: Quicksand;
}

.txtguia2 h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: rgba(48,107,255,1);
}

.txtguia2 p {
  font-size: 1.7rem;
  font-weight: 600;
}

.zondes1 {
  width: 80%;
  height: 40%;
  border: 2px solid #000;
  margin-left: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.txtdes1 {
  display: flex;
}

.icondow1 {
  font-size: 2rem;
  position: absolute;
  right: 5%;
}