@media only screen and (max-width: 767px) {
  #recursos {
    margin-top: 40rem;
  }

  .recurso1 {
    height: 100vh;
  }

  .txtrecur1 {
    margin-top: 6rem !important;
    margin-left: 0.7rem !important;
  }

  .txtrecur2 {
    margin-top: 6rem !important;
    margin-left: 0.7rem !important;
  }

  .zondes2 {
    margin-left: auto !important;
    margin-right: auto !important;
}
}

#recursos {
  width: 100vw;
  height: 100vh;
}

.recurso1 {
  background: linear-gradient(45deg, #FF9C33 0%, #FF61FC 100%);
}

.recurso2 {
  height: 600px;
  z-index: 50;
}

.txtrecur1 {
  margin-top: 135px;
  margin-left: 60px;
  color: #fff;
  font-family: Nunito;
}

.txtrecur1 h3 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 40px;
}

.txtrecur1 p {
  font-size: 1.2rem;
}

.txtrecur2 {
  margin-top: 135px;
  margin-left: 60px;
  font-family: Nunito;
}

.txtrecur2 h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: #FF993D;
}

.txtrecur2 p {
  font-size: 1.7rem;
  font-weight: 600;
}

.zondes2 {
  width: 80%;
  height: 40%;
  border: 3px solid #707070;
  margin-left: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.icondow2 {
  font-size: 2rem;
  position: absolute;
  right: 12%;
}

